<section>
  <div class="principal">
    <div class="contenedor">
      <div class="imagenInfo">
        <div class="imagen">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/est1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/est2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/est3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="info">
          <h2>Estética - Cherry Blossom</h2>
          <p>Se ofrecen los servicios de:</p>
          <ul>
            <li>- Capilarizado</li>
            <li>- Manicure</li>
            <li>- Pedicure</li>
            <li>- Decolorización</li>
            <li>- Tratamientos para el cabello</li>
            <li>- Permanentes</li>
          </ul>
          <p>Tambien puede encontrar pinta uñas de diferentes colores y marcas, artículos para el cuidado del rostro, piel y el cabello</p>
        </div>
      </div>
      <div class="horario">
        <p>Horarios de atencion: Martes a Sábado [10 AM - 7 PM] | Domingos [10 AM - 4 PM]</p>
      </div>
    </div>
    <h2 class="ubica">Ubicación del Lugar</h2>
    <div id="map" class="mapa"></div>F
  </div>
</section>
