<div class="body">
  <h1 class="titulo">Parque Metropolitano de la Armenia</h1>
  <div class="principal">
    <div class="carrusel">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/parq1.jpg" height="auto" class="d-block w-100" alt="foto 1">
          </div>
          <div class="carousel-item">
            <img src="../../assets/parq2.jpg" height="auto" class="d-block w-100" alt="foto 2">
          </div>
          <div class="carousel-item">
            <img src="../../assets/parq3.jpg" height="auto" class="d-block w-100" alt="foto 3">
          </div>
          <div class="carousel-item">
            <img src="../../assets/parq4.jpg" height="auto" class="d-block w-100" alt="foto 4">
          </div>
          <div class="carousel-item">
            <img src="../../assets/parq5.jpg" height="auto" class="d-block w-100" alt="foto 5">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="info">
      <div class="texto">
        <p>Este parque cuenta con áreas deportivas, ciclovías, zonas de recreación infantil, senderos y más para que los
          visitantes puedan disfrutar con su familia o amigos.
          tiene una extensión de 48.41 hectáreas.
          El 65% de este parque está conforma do por el bosque endémico, mientras que el otro 35% cuenta con áreas
          recreativas.
          Uno de los atractivos de este parque son los senderos rodeados por abundante vegetación, además, en este sitio
          natural la gente puede relajarse y disfrutar de actividades en familia.
        </p>
      </div>
      <div class="informacion">
        <div class="imagenes">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/info1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/info2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <p>
          Si tu buscas un lugar entretenido, lleno de espacios verdes y gran acogida el Parque Metropolitano de La
          Armenia es el adecuado para ti. <br><br>

          Este espacio recreativo cuenta con más de 32 hectáreas y es el hábitat de cientos de especies. En la flora
          podemos encontrar abundantemente el ciprés y el eucalipto incluyendo a al rededor 72 especies más. En la fauna
          el número aumenta, existen más de 300 especies de aves, entre ellos los colibríes, tórtolas y torcazas.
          <br><br>

          El Parque fue habilitado para la ciudadanía en el 2010, cuando La Alcaldía Metropolitana de Quito tomó el
          lugar. Según el guardabosques Carlos Quiñonez el lugar se conserva con dos fines importantes: El cuidar el
          hábitat de cientos de especies y utilizarlo para el beneficio de la ciudadanía. <br><br>

          ¿Dónde es?
          Este espacio está ubicado en el sector de la Armenia, en la ciudad de Quito, a la altura del puente tres de la
          Autopista General Rumiñahui.
        </p>
      </div>
    </div>
    <h1 class="subtitulo">Ubicación del Parque Metropolitano de la Armenia</h1>
    <div id="map" class="mapa">
    </div>
  </div>
</div>
