<section>
  <div class="principal">
    <div class="contenedor">
      <div class="imagenInfo">
        <div class="imagen">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/tienda1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/tienda2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/tienda3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="info">
          <h2>Mini Market Wil. F</h2>
          <p>Un buen lugar para realizar las compras de la casa, aquí podrá encontrar:</p>
          <ul>
            <li>- Embutidos empaquetados de diferentes marcas</li>
            <li>- Pan</li>
            <li>- Licores</li>
            <li>- Golosinas</li>
            <li>- Papelería</li>
            <li>- Insumos alimenticios de diferentes marcas</li>
            <li>- Productos de limpieza</li>
            <li>- Comida para tus mascotas</li>
          </ul>
          <p>Tambien se cuenta con el servicio de pago ágil para realizar pagos de los diferentes servicios o realizar
            recargas a tu número celular.</p>
        </div>
      </div>
      <div class="horario">
        <p>Horarios de atención: Lunes a viernes [7:30 AM - 8 PM] | Sábado y Domingo [8 AM - 7 PM]</p>
      </div>
    </div>
    <h2 class="ubica">Ubicación del Lugar</h2>
    <div id="map" class="mapa"></div>
  </div>
</section>
