<nav class="navbar navbar-expand-lg navbar-light bg-dark barraNavegacion">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <a class="d-none d-lg-block" href="#"><img src="../../assets/Logo Tiburoncin  W.png" width="70" height="75"></a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/galera" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Locales cercanos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Estética">Estetica</a></li>
            <li><a class="dropdown-item" routerLink="/Carniceria">Carniceria</a></li>
            <li><a class="dropdown-item" routerLink="/Mecánica">Mecánica</a></li>
            <li><a class="dropdown-item" routerLink="/Mini Market">Mini Market</a></li>
            <li><a class="dropdown-item" routerLink="/Restaurante">Restaurante</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/Parque">Lugar de interes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">Acerca de nosotros</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
  </div>
</nav>
<div class="busqueda">
</div>
